.container{
    text-align: center;
    margin-top:23px
}
 
table{
    margin: auto;
}
 
input{
    border-radius: 5px;
    font-size:34px;
    height: 65px;
    width: 260px;
    scroll-behavior: smooth;
}
 
button{
    border-radius: 0px;
    font-size: 30px;
    background: #f0e1ea;
    width: 60px;
    height: 70px;
    margin: 6px;
}
 
.calculator{
    background-color: #0b1616;
    padding: 23px;
    border-radius: 10px;
    display: inline-block;
   
}
